.container {
  background-color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftNav {
  display: flex;
  align-items: center;
}

.rightNav {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ffcc00;
}

.greeting {
  margin: 0 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.logoutButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c82333;
}
